<div class="">
  <h4>Productos</h4>

</div>


<div class="row">
  <div class="col-lg-3" *ngFor="let item of products">
    <div class="card mb-4">
      <img src="{{item.image}}" class="img-fluid card-image" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <!-- <p class="card-subtitle mb-2 text-body-secondary">{{ item.description }}</p>-->
        <div class="category">
          <p class="">{{ item.category }}</p>
        </div>

        <small class="price"> {{item.price | currency}}</small>
        <div class="mt-3">
          <a href="#" class="btn btn-primary" [routerLink]="['/product/', item.id  ]"
            class="btn btn-primary me-2 btn-sm">Ver detalles</a>
        </div>


        <!-- <button class="btn btn-primary" (click)="onDetail(item.id)">Ver detalles</button> -->
      </div>
    </div>
  </div>
</div>
